@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&family=Plus+Jakarta+Sans:wght@300;800&display=swap");
/*Estilos Generales*/
body {
  font-family: "Plus Jakarta Sans";
  margin: 0;
  padding: 0;
  background-color: white;
  width: 100%;
}

/*Estilos para el encabezado*/
header {
  background-color: #fff;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo {
  margin-top: 30px;
}

.logo img {
  width: 250px;
}

header {
  padding-bottom: 0;
  margin-bottom: 0;
}

.header-links {
  display: flex;
  gap: 20px;
  font-size: 15px;
}

.header-links ul {
  list-style: none;
}

.header-links li {
  display: inline;
}

.header-links a {
  text-decoration: none;
  color: #333;
  padding-right: 20px;
}

.menu {
  background-color: #fff;
  color: #333;
  text-align: right;
  font-size: 17px;
  margin-right: 2%;
}

.menu hr {
  border: 1px solid #fff; /* Cambia #fff al color blanco que desees */
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: inline;
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: #333;
  margin-right: 10px;
}

/*Menu para poder hacer el responsive*/

.menu-toggle {
  display: none;
  cursor: pointer;
}

.ocultar {
  display: none !important;
}


.green-line{
    height: 5px;
    background-color: #90ce67;
    width: 100%;
    margin-top: 5px;
}

/*Dropdown de lineas de trabajo*/

.dropdown-lineas-trabajo {
  display: inline-block;
  position: relative;
}

.dropdown-content-lineas-trabajo {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  top: 100%;
  left: 0;
}

.dropdown-content-lineas-trabajo a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-lineas-trabajo a:hover {
  background-color: #f1f1f1;
}

.dropdown-lineas-trabajo:hover .dropdown-content-lineas-trabajo {
  display: block;
}

.dropbtn-lineas-trabajo {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  cursor: pointer;
  position: relative;
}

.dropbtn-lineas-trabajo a:hover {
  background-color: #ddd;
}

.dropbtn-lineas-trabajo span {
  font-size: 12px;
  margin-left: 5px;
}

/*##########*/

.prensa-contacto {
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  font-family: "Fira Sans", Helvetica, Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.menu .prensa-contacto {
  display: inline;
  margin-right: 2px;
  margin-top: 0;
}

main {
  padding-top: 70px;
}

/*Carrousel de imagenes*/

.carrousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slide {
  display: none;
  text-align: center;
  position: relative;
}

.slide img {
  width: 100%;
  height: 75vh;
}

.text {
  position: absolute;
  font-size: 70px;
  top: 200px;
  left: 35%;
  transform: translateX(-50%);
  color: #fff;
  padding: 5px 10px;
  text-shadow: 2px 2px 4px #888;
  text-align: left;
}

.text strong {
  color: #90ce67;
  display: block;
  font-family: "Plus Jakarta Sans";
  font-weight: 900;
}

.indicators {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
  margin-right: 60px;
}

.indicator {
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  margin-right: 50px;
  margin-bottom: 40px;
}

.active {
  background-color: #90ce67;
}

/*Segunda imagen*/

.background-image {
  width: 100%;
  background-image: url("../img/foto_02.png");
  background-size: cover;
  background-position: center;
  height: 50vh;
  position: relative;
}

.overlay {
  color: #fff;
  font-family: "Plus Jakarta Sans";
  position: absolute;
  top: 100px;
  left: 30px;
  font-size: 45px;
  margin-left: 30px;
}

.overlay span {
  display: block;
  font-weight: regular;
}

/*Logo de circulo más texto*/

.image-text-container {
  display: flex;
  align-items: center;
  height: 100px;
  margin-top: 15%;
  margin-bottom: 15%;
}

.small-image {
  width: 15%;
  max-width: 40%;
  height: auto;
  margin-left: 150px;
  margin-right: 150px;
  align-items: center;
}

.text-image-text-container {
  color: #90ce67;
  align-items: center;
}

.text-image-text-container strong {
  color: #90ce67;
  font-weight: bold;
  font-size: 72px;
}

.text-image-text-container span {
  color: #90ce67;
  font-size: 50px;
}

.texto-centralizado {
  margin-bottom: 15%;
  background-color: #f2f2f2;
  font-size: 20px;
}

.two-column-text {
  column-count: 2;
  column-gap: 35px; /*Espacio entre columnas*/
  margin-right: 40px;
  margin-left: 40px;
  text-align: justify;
  padding-bottom: 50px;
  padding-top: 50px;
}

/*Segundo carrousel*/

.half {
  flex: 1;
  display: flex;
  align-items: center;
}

.servicios-text {
  position: absolute;
  top: 10px; /* Ajusta según sea necesario */
  left: 10px; /* Ajusta según sea necesario */
  color: black;
  font-size: 18px; /* Tamaño del texto */
  font-weight: bold; /* Puedes ajustar según sea necesario */
  margin-left: 11%;
}

.white-background {
  background-color: white;
  height: 250px;
  margin-left: 70px;
  margin-right: 15px;
}

.green-background {
  background-color: #90ce67;
  background: linear-gradient(to right, #51ce5b, #90ce67, #51ce5b);
}

.green-background p,
.brown-background p,
.violet-background p,
.blulight-background p {
  font-family: "Plus Jakarta Sans";
  color: white;
  padding-top: 30px;
  font-size: 25px;
  margin-left: 13%;
  margin-right: 15%;
}

.brown-background {
  background-color: #e2a869;
  background: linear-gradient(to right, #e2a869, #fcdc94, #e2a869);
}

.violet-background {
  background-color: #7d41ae;
  background: linear-gradient(to right, #47007a, #abacec, #47007a);
}

.blulight-background {
  background-color: #19d8bb;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.icon-text-container {
  display: flex;
  align-items: center;
}

.area-text {
  color: #4d4d4d;
  align-items: center;
  font-size: 40px;
}

.text-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  font-family: "Plus Jakarta Sans";
}

.carousel-slide {
  width: 100%;
  display: none;
  position: relative;
}

.carousel-slide img {
  width: 40%;
  height: auto;
  padding-top: 35px;
  padding-left: 50px;
}

.half-width {
  width: 40%;
  float: left;
  box-sizing: border-box;
}

.overflow {
  position: absolute;
  top: 20%;
  left: 55%;
  transform: translate(-10%, -20%);
  padding-bottom: 50px;
}

.carousel-controls {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

button.prev,
button.next {
  background: transparent;
  border: none;
  font-size: 40px;
  cursor: pointer;
  color: #90ce67;
  margin-left: 10px;
}

/*Boton Ver Mas*/

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ver-mas-btn {
  background-color: #fff;
  height: 40px;
  color: #333;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 20px;
  margin-left: 13%;
  line-height: 40px;
}

.ver-mas-btn:hover {
  background-color: #ccc;
}

/*Sección Gestión Ambiental*/
.gestAmbientalContenedor {
  background: linear-gradient(to bottom, #75b5f9 70%, #fff 50%);
  color: #fff;
  text-align: center;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10%;
}

.gestAmbientalContenedor-header {
  align-items: center;
  width: 100%;
}

.gestAmbientalContenedor h1 {
  font-size: 40px;
  font-weight: lighter;
  margin-left: 200px;
  margin-bottom: 0;
}

.gestAmbientalContenedor p {
  font-size: 25px;
  margin-top: 0;
}

.card {
  width: calc(30% - 80px);
  padding-top: 4%;
  padding-bottom: 20px;
  background-color: #fff;
  color: #333;
  float: left;
  box-sizing: border-box;
  border: 1px solid #75b5f9;
  margin-right: 4%;
  margin-left: 4%;
  transition: transform 0.2s;
  border-radius: 4px;
}

.card h2 {
  font-size: 24px;
  color: #75b5f9;
  padding: 0;
  font-weight: lighter;
}

.separator {
  width: 100%;
  height: 15px;
  background: linear-gradient(to left, #ccc 0%, #fff 50%, #ccc 100%);
}

.gestAmbientalContenedor-content-header {
  display: flex;
  align-items: center;
}

.logo-img {
  max-width: 200px; /* Ajusta el tamaño máximo según sea necesario */
  margin-left: 15%; /* Ajusta el margen según sea necesario */
  padding-bottom: 15px;
}

/*Sección nuestros números*/
.section-nuestros-numeros {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.section-nuestros-numeros .section-nuestros-numeros-header {
  width: 90%;
  border: 2px solid #ffc216;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-bottom: 10%;
  border-radius: 10px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  height: 100px;
}

.section-nuestros-numeros
  .section-nuestros-numeros-header
  .section-nuestros-numeros-logo {
  width: 80px;
  height: 85px;
  margin-right: 150px;
  margin-left: 100px;
}

.section-nuestros-numeros .section-nuestros-numeros-header h2 {
  text-align: center;
  color: #90ce67;
  font-weight: lighter;
  font-size: 40px;
}

.content-column {
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /* Divide en 4 columnas con igual ancho */
  gap: 20px; /* Espacio entre columnas */
  padding: 20px;
  width: 90%;
  margin-right: 2.5%;
  margin-left: 2.5%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cell {
  text-align: center;
}

.number {
  font-size: 48px;
  color: #ffc216;
  font-weight: bolder;
}

.line {
  width: 80%;
  border: 1px solid #ccc;
}

.cell p {
  font-size: 20px;
  color: #000;
}

/*Sección Sinergias*/

.section-sinergias {
  border: 1px solid #ccc;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-top: 5%;
}

.section-sinergias h2 {
  font-size: 60px;
  color: #4d4d4d;
}

.section-sinergias .section-sinergias-logos {
  display: flex;
  justify-content: center;
  width: 100%;
}

.section-sinergias-logos .section-sinergias-logos-logo {
  width: 10%;
  height: auto; /* Permite que la altura se ajuste automáticamente para mantener la relación de aspecto original */
  object-fit: contain; /* Esto ajustará la imagen para que quepa en el contenedor sin estirarla ni deformarla */
  margin: 10px;
  transition: transform 0.3s;
  background-color: #ccc;
  padding: 10px;
  border-radius: 8px;
  filter: grayscale(100%); /* Aplicamos escala de grises inicialmente */
}

.section-sinergias-logos-logo:hover {
  transform: scale(1.2);
  filter: grayscale(0%);
}

.section-sinergias-logos-logo img {
  width: 100%; /* Asegura que la imagen ocupe todo el espacio disponible en el contenedor */
  height: auto; /* Ajusta automáticamente la altura para mantener la relación de aspecto original */
}

/*Seccion Donde estamos*/
.section-donde-estamos {
  max-width: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

.section-donde-estamos .section-donde-estamos-header h1 {
  color: #90ce67;
  font-weight: lighter;
  font-size: 30px;
}

.section-redes-sociales {
  display: flex;
  width: 100%;
  height: 300px;
}

.section-redes-sociales-left-half {
  width: 30%;
  background: linear-gradient(to bottom, #e2a869, #fcdc94);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0 0 10px;
  margin-left: 18%;
}

.section-redes-sociales-left-half p {
  margin-top: 50px;
  font-size: 30px;
  color: white;
}

.section-redes-sociales-left-half-buttons {
  margin-top: 20px;
}

.section-redes-sociales-left-half-buttons button {
  margin: 10px;
  padding: 10px 20px;
  font-family: "Plus Jakarta Sans";
  border-radius: 10px;
  border: none;
  color: #39b54a;
  font-weight: bolder;
  width: 250px;
  font-size: 15px;
  margin-bottom: 50px;
}

.section-redes-sociales-left-half-buttons button a{
  color: #39b54a;
    text-decoration: none;
}

.section-redes-sociales-left-half-buttons button a:visited{
  color: #39b54a;
}

.section-redes-sociales-right-half {
  width: 34%;
  background: url("../img/fondo_redes_sociales.png"); /* Reemplaza con la URL de tu imagen de fondo */
  background-size: cover;
  position: relative;
  border-radius: 0 10px 10px 0;
  margin-right: 15px;
}

.instagram-icon {
  /* position: absolute;
    top: 100px;
    right: 280px;*/
  color: white !important;
  transform: scale(5);
}

/*SECCION DATOS DE CONTACTO*/
.section-contacto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  width: 75%;
  margin-left: 17%;
  margin-right: 18%;
}

.section-contacto-column {
  flex: 1;
  padding: 20px;
}

.section-contacto-contact-button {
  border: none;
  color: white;
  background-color: #4d4d4d;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
  font-family: "Plus Jakarta Sans";
  font-weight: bold;
}

.section-contacto-contact-button a {
    text-decoration: none;
    color: white;
}

.section-contacto-info {
  margin-left: 20px;
  color: white;
  font-size: 15px;
}

.section-contacto-contact-social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-contacto-contact-social-icons-social-icon {
  background: #4d4d4d;
  width: 30px; /* Ajusta el ancho del círculo según tus necesidades */
  height: 30px; /* Ajusta la altura del círculo según tus necesidades */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px; /* Espacio entre los círculos */
}

.section-contacto-contact-social-icons i {
  font-size: 20px; /* Tamaño del ícono */
  color: white;
}

/*Footer*/
footer {
  background-color: #4d4d4d;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-columna {
  flex: 1;
  margin-right: 20px;
}

.footer-columna h2 {
  margin-left: 40px;
}

.footer-columna img {
  height: auto;
  margin-left: 140px;
}

.footer-columna ul {
  list-style: none;
}

.footer-columna a {
  text-decoration: none;
  color: white;
}

/*PAGINAS INTERNAS*/

.header-pagina-interna {
  display: flex;
  flex-direction: column;
}

.header-pagina-interna-izquierda .header-pagina-interna-derecha {
  width: 40%;
}

.img_gest_ambiental_logo img{
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
}

.header-pagina-interna-izquierda {
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: 7%;
}

.header-pagina-interna-derecha {
  position: relative;
  left: -10px; /* Ajusta según sea necesario para la superposición */
}

.header-pagina-interna-izquierda img{
  width: 20%;
  height: auto;
}


.header-pagina-interna-texto-header {
  background-color: #e2a869; /* Color de fondo del texto */
  color: #fff; /* Color del texto */
  padding: 20px;
  box-sizing: border-box;
  font-size: 30px;
  margin-top: 70px;
  padding-top: 45px;
  padding-right: 55px;
  padding-left: 55px;
  text-align: center;
}

.header-pagina-interna {
  margin-top: 8%; /* Ajusta según la altura de tu barra de navegación */
  padding-top: 20px; /* Puedes ajustar según sea necesario para separar el contenido del encabezado */
  width: 100%;
}

.overflow-interna {
  position: absolute;
  top: 20%;
  left: 55%;
  transform: translate(10%, -50%);
  padding-bottom: 50px;
}

.centro-pagina-interna {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  padding-left: 50px;
}

.texto-centro-pagina-interna {
  flex: 1;
  margin-left: 50px;
  padding-right: 50px;
  text-align: justify;
}

.imagen-centro-pagina-interna img {
  width: 300px;
  height: auto;
}

.texto-centro-pagina-interna h2 {
  color: #f98f00;
}

.texto-centro-pagina-interna ul {
  list-style-type: none;
  padding: 0;
}

.texto-centro-pagina-interna strong {
  color: #f98f00;
  font-weight: lighter;
  display: block;
  margin-top: 15px;
}

.texto-centro-pagina-interna ul li {
  margin-bottom: 10px;
  padding-left: 15px;
  position: relative;
  margin-top: 15px;
}

.texto-centro-pagina-interna li::before {
  content: "\2713";
  display: block;
  width: 45px;
  height: 30px;
  color: #4acf50;
  position: absolute;
  left: 0;
  top: 60%;
  transform: translateY(-50%);
}

.pagina-interna hr {
  border: 0; /* Elimina el borde predeterminado de la línea */
  height: 8px; /* Altura de la línea */
  background: linear-gradient(
    to right,
    #e2a869,
    #fcdc94
  ); /* Gradiente de color de rojo a verde */
  margin: 20px 0; /* Espaciado opcional alrededor de la línea */
}
.texto-pagina-interna-segundo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 50px;
  padding-right: 50px;
  text-align: justify;
  margin-bottom: 40px;
}

.texto-pagina-interna-segundo h2 {
  color: #f98f00;
}

.texto-pagina-interna-segundo p {
  flex: 1;
  margin-right: 20px;
}

.texto-pagina-interna-segundo ul {
  flex: 1 0 100%; /* Para que la lista ocupe todo el ancho en dispositivos pequeños */
  margin-top: 0; /* Elimina el margen superior de la lista */
}

.texto-pagina-interna-segundo li {
  margin-bottom: 10px;
  padding-left: 15px;
  position: relative;
  margin-top: 15px;
  list-style: none;
}

.texto-pagina-interna-segundo li::before {
  content: "\2713";
  display: block;
  width: 45px;
  height: 30px;
  color: #4acf50;
  position: absolute;
  left: 0;
  top: 60%;
  transform: translateY(-50%);
}

.texto-pagina-interna-segundo img {
  max-width: 100%;
  width: 300px;
  height: auto;
  margin-top: 20px; /* Espacio entre la imagen y el contenido */
  border-radius: 10px; /* Radio de las esquinas de la imagen */
  box-shadow: 12px 12px 8px rgba(226, 168, 106, 0.3);
}

.texto-final-pagina-interna h2 {
  color: #e2a869;
  font-weight: lighter;
  text-align: center;
  margin-right: 2.5%;
}

.footer-pagina-interna {
  background-color: white;
  margin-left: 5%;
  margin-top: 8%;
}

.footer-pagina-interna img {
  width: 250px;
}

.header-pagina-interna-texto-header-agricultura {
  background-color: #90ce67;
  color: #fff; /* Color del texto */
  padding: 20px;
  box-sizing: border-box;
  font-size: 30px;
  margin-top: 70px;
  padding-top: 45px;
  padding-right: 55px;
  padding-left: 55px;
  text-align: center;
}

.texto-centro-pagina-interna-agricultura {
  flex: 1;
  margin-left: 50px;
  padding-right: 50px;
  text-align: justify;
}

.texto-centro-pagina-interna-agricultura h2 {
  color: #90ce67;
}

.texto-centro-pagina-interna-agricultura ul {
  list-style-type: none;
  padding: 0;
}

.texto-centro-pagina-interna-agricultura strong {
  color: #51ce5b;
  font-weight: lighter;
  display: block;
  margin-top: 15px;
  margin-left: 10px;
}

.texto-centro-pagina-interna-agricultura ul li {
  margin-bottom: 10px;
  position: relative;
  margin-top: 15px;
}

.texto-centro-pagina-interna li::before {
  content: "\2713";
  display: block;
  width: 45px;
  height: 30px;
  color: #4acf50;
  position: absolute;
  left: 0;
  top: 60%;
  transform: translateY(-50%);
}

.pagina-interna-agricultura hr {
  border: 0; /* Elimina el borde predeterminado de la línea */
  height: 8px; /* Altura de la línea */
  background: linear-gradient(
    to right,
    #51ce5b,
    #90ce67
  ); /* Gradiente de color de rojo a verde */
  margin: 20px 0; /* Espaciado opcional alrededor de la línea */
}

.h2_agricultura {
  color: #90ce67 !important;
  margin-right: 55px;
  font-weight: bolder !important;
  margin-left: 15%;
}

.texto-pagina-interna-segundo-agricultura {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 50px;
  padding-right: 50px;
  text-align: justify;
  margin-bottom: 40px;
}

.texto-pagina-interna-segundo-agricultura {
  margin-top: 15px;
}

.texto-pagina-interna-segundo-agricultura img {
  max-width: 100%;
  width: 300px;
  height: auto;
  margin-top: 20px; /* Espacio entre la imagen y el contenido */
  border-radius: 10px; /* Radio de las esquinas de la imagen */
  box-shadow: 12px 12px 8px rgba(144, 206, 103, 0.3);
}

.texto-pagina-interna-segundo-texto {
  flex: 1; /* El texto ocupará todo el espacio disponible */
  margin-right: 20px; /* Espacio entre el texto y la imagen */
}

.header-pagina-interna-texto-header-hoteleria {
  background-color: #7d41ae;
  color: #fff; /* Color del texto */
  padding: 20px;
  box-sizing: border-box;
  font-size: 30px;
  margin-top: 70px;
  padding-top: 45px;
  padding-right: 55px;
  padding-left: 55px;
  text-align: center;
}

.texto-centro-pagina-interna-hoteleria {
  flex: 1;
  margin-left: 50px;
  padding-right: 50px;
  text-align: justify;
}

.texto-centro-pagina-interna-hoteleria h2 {
  color: #47007a;
  text-align: left;
  font-weight: bold;
}

.texto-centro-pagina-interna-hoteleria ul {
  list-style-type: none;
  padding: 0;
}

.texto-centro-pagina-interna-hoteleria ul li {
  margin-bottom: 10px;
  padding-left: 15px;
  position: relative;
  margin-top: 15px;
}

.texto-centro-pagina-interna-hoteleria li::before {
  content: "\2713";
  display: block;
  width: 45px;
  height: 30px;
  color: #4acf50;
  position: absolute;
  left: 0;
  top: 60%;
  transform: translateY(-50%);
}

.texto-pagina-interna-segundo-hoteleria {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 50px;
  padding-right: 50px;
  text-align: justify;
  margin-bottom: 40px;
}

.texto-pagina-interna-segundo-hoteleria {
  margin-top: 15px;
}

.imagen-centro-pagina-interna img {
  max-width: 100%;
  width: 300px;
  height: auto;
  margin-top: 20px; /* Espacio entre la imagen y el contenido */
  border-radius: 10px; /* Radio de las esquinas de la imagen */
  box-shadow: 12px 12px 8px rgba(71, 0, 122, 0.3);
  margin-right: 30px;
}

.pagina-interna-hoteleria hr {
  border: 0; /* Elimina el borde predeterminado de la línea */
  height: 8px; /* Altura de la línea */
  background: linear-gradient(
    to right,
    #47007a,
    #abacec
  ); /* Gradiente de color de rojo a verde */
  margin: 20px 0; /* Espaciado opcional alrededor de la línea */
}

.nuestro-feedlot hr {
  border: 0; /* Elimina el borde predeterminado de la línea */
  height: 25px;
  background: #47007a;
}

.h2_hoteleria {
  color: #47007a !important;
  margin-right: 55px;
}



/*Nosotros*/

.overflow-interna-nosotros {
  position: absolute;
  top: 20%;
  left: 55%;
  transform: translate(-10%, -50%);
  padding-bottom: 50px;
}

.header-pagina-interna h2 {
  text-align: center;
  color: #482223;
  margin-bottom: 50px;
}

.header-pagina-interna-texto-header-nosotros {
  background-color: #482223;
  color: #fff; /* Color del texto */
  box-sizing: border-box;
  font-size: 22px;
  margin-top: 70px;
  padding-top: 45px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.nosotros-imagenes-header{
    display: flex;
}

.nosotros-imagenes-header-uno{
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
}

.texto-centro-pagina-interna-nosotros {
  flex: 1;
  margin-left: 50px;
  padding-right: 50px;
  text-align: justify;
}

.texto-centro-pagina-interna-nosotros h2 {
  color: #482223;
}

.texto-centro-pagina-interna-nosotros ul {
  list-style-type: none;
  padding: 0;
}

.texto-centro-pagina-interna-nosotros ul li {
  margin-bottom: 10px;
  padding-left: 15px;
  position: relative;
  margin-top: 15px;
}

.texto-centro-pagina-interna-nosotros li::before {
  content: "\2713";
  display: block;
  width: 45px;
  height: 30px;
  color: #4acf50;
  position: absolute;
  left: 0;
  top: 60%;
  transform: translateY(-50%);
}

.accordion-section {
  margin-bottom: 20px;
  margin-left: 50px;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-button {
  background-color: #603913;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  text-align: left;
}

.accordion-content {
  display: none;
  padding: 10px;
}

.nosotros-desplegables {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.nosotros-desplegables .accordion-section {
  font-family: "Plus Jakarta Sans";
  color: #482223;
}

.accordion-section {
  background-color: #f7f4ec;
}

.accordion-header h2 {
  margin-left: 20px;
}

.accordion-content p {
  text-align: justify;
  width: 90%;
  margin-left: 5%;
}

.accordion-content ul {
  list-style: none;
}

.accordion-content li {
  margin-bottom: 10px;
}

/*Gestion Ambiental*/

.header-pagina-interna-texto-header-gest-ambiental {
  background-color: #1ad8bc;
  color: #fff; /* Color del texto */
  padding: 20px;
  box-sizing: border-box;
  font-size: 30px;
  margin-top: 70px;
  padding-top: 45px;
  padding-right: 55px;
  padding-left: 55px;
  text-align: center;
}

#imagen_gest_ambiental_ocultar{
  display: none; 
}

.texto-centro-pagina-interna-gest-ambiental {
  flex: 1;
  margin-left: 50px;
  padding-right: 50px;
  text-align: justify;
}

.texto-centro-pagina-interna-gest-ambiental h2 {
  color: #1ad8bc;
}

.h2_gest_ambiental {
  color: #1ad8bc !important;
  margin-right: 55px;
}

.pagina-interna-gest-ambiental hr {
  border: 0; /* Elimina el borde predeterminado de la línea */
  height: 8px; /* Altura de la línea */
  background: linear-gradient(
    to right,
    #1ad8bc,
    #1ad8ff
  ); /* Gradiente de color de rojo a verde */
  margin: 20px 0; /* Espaciado opcional alrededor de la línea */
}

.texto-pagina-interna-segundo-gest-ambiental {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 50px;
  padding-right: 50px;
  text-align: justify;
  margin-bottom: 40px;
}

.texto-pagina-interna-segundo-gest-ambiental {
  margin-top: 15px;
}

.texto-pagina-interna-segundo-gest-ambiental img {
  max-width: 100%;
  width: 300px;
  height: auto;
  margin-top: 20px; /* Espacio entre la imagen y el contenido */
  border-radius: 10px; /* Radio de las esquinas de la imagen */
  box-shadow: 12px 12px 8px rgba(26, 216, 255, 0.3);
}


/*Cultura La Criolla*/

.header-pagina-interna-texto-header-cultura {
  background-color: #f98f00;
  color: #fff; /* Color del texto */
  padding: 5px;
  box-sizing: border-box;
  font-size: 30px;
  margin-top: 70px;
  padding-right: 55px;
  padding-left: 55px;
  text-align: center;
}

.header-pagina-interna-texto-header-cultura h2 {
  color: #fff; /* Color del texto */
}

.texto-centro-pagina-interna-cultura {
  flex: 1;
  margin-left: 50px;
  padding-right: 50px;
  text-align: justify;
}

.texto-centro-pagina-interna-cultura p {
  font-size: 20px;
  color: #f98f00;
}

.cultura-desplegables {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}

.cultura-texto-encabezado {
  width: 90%;
  font-size: 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}

.accordion-section-cultura {
  margin-bottom: 20px;
}

.accordion-header-cultura {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-button-cultura {
  background-color: #f98f00;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  text-align: left;
}

.accordion-content-cultura {
  display: none;
  padding: 10px;
}

.cultura-desplegables .accordion-section-cultura {
  font-family: "Plus Jakarta Sans";
  color: #f98f00;
}

.accordion-section-cultura {
  background-color: #f7f4ec;
}

.accordion-header-cultura h2 {
  margin-left: 20px;
}

.accordion-content-cultura p {
  text-align: justify;
  width: 90%;
  margin-left: 5%;
}

.accordion-content-cultura ul {
  list-style: none;
}

.accordion-content-cultura li {
  margin-bottom: 10px;
}

.directorio_areas h2 {
  color: #482223;
  margin-left: 100px;
}

.directorio_areas ul {
  list-style-type: circle;
  margin-left: 100px;
}

.directorio_areas strong {
  color: #482223;
}


/*Pagina PRENSA*/

.pagina-interna-prensa-img {
  background-image: url("../img/prensa.png"); /* Reemplaza con la ruta de tu imagen de diarios */
  background-size: cover;
  height: 200px;
  color: #4d4d4d;
  padding-left: 20px;
  text-align: left;
  margin-top: 8%; /* Ajusta según la altura de tu barra de navegación */
  padding-top: 20px; /* Puedes ajustar según sea necesario para separar el contenido del encabezado */
  width: 100%;
}

.pagina-interna-prensa-img h1 {
  font-size: 50px;
  margin-left: 40px;
  font-family: "Plus Jakarta Sans";
}

.grid-container-prensa {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Ajusta el tamaño mínimo y máximo de las columnas */
  grid-gap: 20px;
  padding: 20px;
}

.grid-item-prensa {
  text-align: left;
  padding: 10px;
}

.grid-item-prensa a {
  text-decoration: none;
  color: #333;
}

.grid-item-prensa img {
  max-width: 100%;
  height: 150px;
  object-fit: cover; /* O ajusta según tus preferencias, como contain */
}

.grid-item-prensa iframe {
  max-width: 100%;
  height: 150px;
  object-fit: cover; /* O ajusta según tus preferencias, como contain */
}

.nuestro-feedlot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  padding-left: 150px;
}

.nuestro-feedlot-imagen img {
  width: 300px;
  height: auto;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 12px 12px 8px rgba(71, 0, 122, 0.3);

}

.nuestro-cria-imagen img{
  width: 300px;
  height: auto;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 12px 12px 8px rgba(226, 168, 106, 0.3);

}

.nuestro-feedlot-imagen-texto {
  flex: 1;
  margin-left: 50px;
  padding-right: 50px;
  text-align: justify;
}

.nuestro-feedlot-imagen-texto h2 {
  color: #47007a;
  text-align: right;
  font-weight: bold;
}

.nuestro-feedlot-imagen-texto ul {
  list-style-type: none;
  padding: 0;
  text-align: right;
}

.nuestro-feedlot-imagen-texto ul li {
  margin-bottom: 10px;
  padding-left: 15px;
  position: relative;
  margin-top: 15px;
}

#segunda_linea {
  border: 0; /* Elimina el borde predeterminado de la línea */
  height: 20px; /* Altura de la línea */
  background: #47007a; /* Gradiente de color de rojo a verde */
}

#agricultura_strong_negrita {
  font-weight: bold;
  color: #000;
  margin-left: 0;
}

#segunda_linea_ganaderia {
  border: 0; /* Elimina el borde predeterminado de la línea */
  height: 20px; /* Altura de la línea */
  background: #f98f00; /* Gradiente de color de rojo a verde */
}

.nuestra-cria-imagen-texto {
  flex: 1;
  padding-right: 50px;
  text-align: justify;
}

.nuestra-cria-imagen-texto h2 {
  color: #f98f00;
  text-align: left;
  font-weight: bold;
}

.nuestras-crias {
  display: flex;

  justify-content: space-between;
  margin-left: 50px;
  margin-right: 30px;
}

.nuestra-cria-imagen-texto p {
  text-align: justify;
}

/*Formulario Contacto*/

.formulario-contacto{
    font-family: "Plus Jakarta Sans";
    margin-top: 5%;
    margin-bottom: 5%;
}

.formulario-contacto option{
    font-family: "Plus Jakarta Sans";
  
}

.formulario-contacto h2{
    width: 60%;
    margin-right: 15%;
    margin-left: 15%;
    color:#4acf50;
    text-align:center
}

.formulario-contacto p{
    width: 60%;
    margin-right: 15%;
    margin-left: 15%;
    text-align:center;
    font-size: 18px;
    margin-bottom: 5%;
}

.contacto-form span{
    color:red;
    font-weight: bold;
}

form {
    max-width: 80%;
    width: 60%;
    margin-right: 15%;
    margin-left: 15%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  label {
    display: block;
    margin-bottom: 8px;
  }

  input,
  select,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  textarea {
    height: 120px;
  }

.contacto-form  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

.contacto-form button a:visited{
  color:white;
}  

.checkmark{
  display: none;
}

/*Estilos para Responsive*/

@media (max-width: 768px) {

  body, html {
    overflow-x: hidden;
  }

  header {
    flex-direction: column;
    align-items: center;
    height: auto;
    position: relative;
  }

  .ocultar {
    display: block !important;
  }

  .menu {
    display: block;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 1;
    width: 100%;
  }

  .menu li {
    display: block;
    margin: 10px 0;
  }

  .menu-toggle {
    display: block;
  }

  .menu .prensa-contacto {
    display: none;
  }

  .dropdown-lineas-trabajo {
    display: none !important;
  }

  /*Carrousel*/

  .carrousel {
    margin-top: 60%;
    height: auto;
  }

  .slide img {
    height: 30%;
    max-width: 100%;
  }

  .text {
    font-size: 30px;
    top: 40%;
    left: 40%;
    transform: translate(-40%, -40%);
  }

  .indicators {
    display: none;
  }

  /*Segunda imagen*/

  .image-text-container {
    display: block;
    height: auto;
    margin-top: 15%;
    margin-bottom: 15%;
    text-align: center;
  }
  .text-image-text-container {
    display: block;
    width: 80%;
    color: #90ce67;
    margin-right: 10%;
    margin-left: 10%;
  }

  .text-image-text-container strong {
    color: #90ce67;
    font-weight: bold;
    font-size: 30px;
  }

  .text-image-text-container span {
    color: #90ce67;
    font-size: 25px;
  }

  .small-image {
    width: 90%;
    height: auto;
    margin-right: 5%;
    margin-left: 5%;
  }

  /*texto*/

  .two-column-text {
    column-count: 1; /* Cambiar a una sola columna */
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
  }

  /*Segundo carrousel*/

  .carrousel-slide {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .white-background {
    margin-left: 0;
    height: 15%;
  }

  .half {
    display: flex;
    align-items: normal;
  }

  .half-width {
    width: 100%;
    height: auto;
  }

  .overflow {
    display: none; /* Oculta la imagen de overflow en pantallas más pequeñas */
  }

  .icon-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .icon-text-container img {
    width: 80%; /* Centra y ocupa el 100% del contenedor */
    max-width: 100%;
  }

  .text-container {
    padding-top: 20px;
    text-align: center; /* Centra el texto */
  }

  .ver-mas-btn {
    margin-left: 25%;
  }

  .servicios-text {
    display: flex;
    top: -3%;
    left: 28%;
  }

  .area-text {
    text-align: center;
    font-size: 30px;
    margin-left: 30%;
    margin-top: 0;
  }

  #unico {
    margin-left: 13%;
  }

  .content p {
    font-size: 18px;
    text-align: center;
  }


  /*Gestión Ambiental*/

  .gestAmbientalContenedor-content-header img {
    max-width: 80%;
    margin-right: 10%;
    margin-left: 10%;
  }

  .card {
    width: 65%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
    border: 3px solid #75b5f9;
  }

  .card h2 {
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .gestAmbientalContenedor-content-header {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .gestAmbientalContenedor h1 {
    font-weight: lighter;
    margin: 0 auto; /* Centro el h1 en todos los dispositivos */
    max-width: 80%; /* Limita el ancho máximo para mejor legibilidad en dispositivos pequeños */
  }

  .gestAmbientalContenedor-content-header p {
    font-size: 20px;
    text-align: center;
  }



  /*Nuestros numeros*/

  .section-nuestros-numeros {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
  }

  .section-nuestros-numeros-logo {
    display: none;
  }

  .section-nuestros-numeros-header h2 {
    font-size: 30px !important;
  }

  .content-column {
    grid-template-columns: repeat(1, 1fr);
  }

  /*donde estamos*/

  iframe {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  /*Seccion Sinergias*/

  .section-sinergias {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    border: none;
    text-align: center;
    box-shadow: none;
    padding-top: 5%;
  }

  .section-sinergias h2 {
    font-size: 60px;
    color: #90ce67;
  }

  .section-sinergias .section-sinergias-logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente línea en pantallas pequeñas */
    width: 100%;
  }

  .section-sinergias-logos .section-sinergias-logos-logo {
    width: 30%; /* Cambiado el ancho para que haya dos columnas en pantallas pequeñas */
    height: auto;
    object-fit: contain;
    margin: 10px;
    padding: 10px;
    filter: none;
    background-color: white;
  }

  .section-sinergias-logos-logo:hover {
    transform: none;
    filter: none;
  }

  /*Sección Redes sociales*/
  .section-redes-sociales-right-half {
    display: none;
  }

  .section-redes-sociales-left-half {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 10px;
  }

  /*Formulario contacto*/
  .section-contacto {
    display: flex;
    flex-direction: column;
  }

  .section-contacto-column button {
    width: 90%;
  }





  /*Paginas internas*/

  .nosotros-imagenes-header{
    flex-direction: column;
    margin-top: 20%;
    
  }

  .nosotros-imagenes-header-uno{
    width: 80%;
    margin-top: 15%;
    margin-left: 10%;
  }

  .header-pagina-interna-texto-header-nosotros {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5px;
  }

 

  .texto-centro-pagina-interna-nosotros {
    margin-left: 0;
    padding-right: 0;
    text-align: justify;
  }

  .accordion-section{
    margin-left: 0;
  }
  .directorio_areas{
    width: 90%;
  }

  .directorio_areas h2{
    text-align: center;
    margin-left: 0;
  }

  .directorio_areas ul{
    margin-left: 0;
  }

  .directorio_areas li{
    font-size: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: start;
  }


  /*Pagina Cultura la Criolla*/

  .header-pagina-interna-texto-header-cultura {
    font-size: 20px;
    margin-top: 80%;
}

.cultura-texto-encabezado{
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.cultura-texto-encabezado p{
    font-size: 16px;
}

/*Paginas internas*/

.header-pagina-interna-derecha  img {
    display: none;
}

.header-pagina-interna-izquierda {
    flex-direction: column; /* Cambia la dirección del contenedor a columna para visualizar la imagen arriba y el texto debajo */
    width: 50%;
    margin: auto;
    margin-top:50%; 
  }

  .header-pagina-interna-izquierda img{
    width: 100%;
}


.header-pagina-interna-texto-header{
  font-size: 25px;
}


.centro-pagina-interna{
    flex-direction: column;
  margin-right: 0%;
  margin-left: 0%;
}

.area-text{
    margin-left: 0;
}

.header-pagina-interna-texto-header-agricultura {
    width: 100%;
    font-weight: bold;
    box-sizing: border-box;
    font-size: 25px;
    text-align: center;
}

.header-pagina-interna-texto-header-gest-ambiental h2{
  font-size: 25px;

}

.header-pagina-interna-texto-header-hoteleria{
  font-size: 25px;
}

.texto-centro-pagina-interna-agricultura {
    text-align: start;
    width: 90%;
    margin-right: 10%;
}

.texto-centro-pagina-interna {
  text-align: center;
  margin-left: 0;
  padding-right: 0;
}

.texto-centro-pagina-interna ul{
  text-align: start;
}

.texto-centro-pagina-interna ul li{
  padding-left: 25px;
}

.texto-centro-pagina-interna h2{
    text-align:center;
}

.imagen-centro-pagina-interna-ganaderia img{
  width: 80%;
  margin-left: 10%;
}

.texto-centro-pagina-interna p{
    text-align: start;
}

.texto-centro-pagina-interna strong{
    font-size: 20px;
}



.texto-pagina-interna-segundo{
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}

.texto-pagina-interna-segundo h2 {
    text-align: center;
    margin-left: 12%;
}

.texto-pagina-interna-segundo p {
    padding-left: 15%;
    margin-right: 0;
}

.checkmark{
  display:inline;
}

.texto-pagina-interna-segundo li::before {
  content: none;

}

.texto-centro-pagina-interna-hoteleria li::before {
  content: none;
}


.texto-centro-pagina-interna-segundo ul{
    font-size: 20px;
}



.imagen-centro-pagina-interna-agricultura{
    width: 80%;
 
}


.imagen-centro-pagina-interna-agricultura img{
    width: 70%;
    margin-left: 10%;

}

.h2_agricultura{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
}

.texto-pagina-interna-segundo-agricultura img {
    max-width: 100%;
    width: 80%;
    box-shadow: none;
    padding-left: 40px;
    border-radius: 50%;
}

.texto-centro-pagina-interna-hoteleria{
  width: 80%;
  text-align: start;

}

.texto-centro-pagina-interna-hoteleria h2{
  text-align: center;

}

.texto-pagina-interna-segundo-hoteleria img{
  width: 60%;
  padding-left: 25%;
  margin-top: 5%;
}


.texto-pagina-interna-segundo-hoteleria{
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
}

.texto-pagina-interna-segundo img {
    max-width: 100%;
    width: 80%;
    box-shadow: none;
    padding-left: 20%;
    border-radius: 50%;
}

.nuestras-crias{
    flex-direction: column;
}

.nuestro-feedlot{
    flex-direction: column;
    width: 90%;
    padding-left: 0;
    margin-left: 5%;
    margin-right: 5%;
}

.nuestro-feedlot-imagen img {
    border-radius: 50%;
    box-shadow: none
}

.nuestro-feedlot-imagen-texto ul li{
  padding-left: 0;
}

.nuestro-feedlot-imagen-texto ul{
  text-align: center;
}

.nuestro-feedlot-imagen-texto h2{
  text-align: center;
}

.nuestra-cria-imagen-texto h2 {
    text-align: center;
    margin-left: 10%;
}

#imagen_gest_ambiental_ocultar{
  display: flex;
  margin-left: 15%;
}

.imagen-centro-pagina-interna img{
    border-radius: 50%;
    box-shadow: none;
}


.nuestra-cria-imagen-texto{
  padding-right: 0;
}

.nuestra-cria-imagen-texto p {
    text-align: center;
}

.nuestro-cria-imagen img {
  width: 80%;
  max-width: 100%;
  border-radius: 50%;
  box-shadow: none;
  padding-left: 10%;
}

.texto-centro-pagina-interna-gest-ambiental {
  flex: 1;
  text-align: center;
  margin-left: 0;
  padding-right: 0;
}




.footer-pagina-interna{
   width: 80%;
   display: flex;
   justify-content: center;
}

/*Formulario contacto*/


.formulario-contacto{
    font-family: "Plus Jakarta Sans";
    margin-top: 45%;
    margin-bottom: 5%;
}


.formulario-contacto h2{
    width: 90%;
    margin-right: 10%;
    margin-left: 10%;
}

.formulario-contacto p{
    width: 90%;
    margin-right: 10%;
    margin-left: 10%;
    font-size: 20px;
    margin-bottom: 5%;
}

form {
    max-width: 80%;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: none;
  }
  /*footer*/
  #mapa {
    display: none;
  }

  #ocultar img {
    width: 6px;
  }

  #hoteleria{
    margin-left: 35%;
  }

  .linea-trabajo-text{
    left:20%;
  }

  .linea-trabajo-text-area{
    margin-left: 30%;
  }


}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    flex-direction: column; /* Cambia a dirección de columna para apilar elementos */
    align-items: center; /* Centra los elementos en el eje transversal */
    height: auto; /* Ajusta la altura automáticamente según el contenido */
  }

  .ocultar {
    display: block !important;
  }

  .menu {
    display: block;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 1;
    width: 100%;
    font-size: 35px;
  }

  .menu li {
    display: block;
    margin: 10px 0;
  }

  .menu-toggle {
    display: block;
    margin-top: 10px; /* Agrega un margen superior para separar el icono del logotipo */
    margin-bottom: 10px; /* Agrega un margen inferior para separar el icono de otros elementos del menú */
  }

  .menu .prensa-contacto {
    display: none;
  }

  .dropdown-lineas-trabajo {
    display: none !important;
  }

  .logo img {
    width: 400px;
  }

  /*Carrousel*/

  .carrousel {
    margin-top: 400px;
    height: auto;
  }

  .slide img {
    height: 400px;
    max-width: 100%;
  }

  .text {
    font-size: 60px;
    top: 40%;
    left: 40%;
    transform: translate(-40%, -40%);
  }

  .indicators {
    display: none;
  }

  /*Segunda imagen*/

  .text-image-text-container {
    display: block;
    width: 90%;
    color: #90ce67;
    margin-right: 5%;
    margin-left: 5%;
  }

  .text-image-text-container strong {
    color: #90ce67;
    font-weight: bold;
    font-size: 40px;
  }

  .text-image-text-container span {
    color: #90ce67;
    font-size: 35px;
  }

  .overflow img {
    width: 200px !important;
  }
}

@media screen and (min-width: 1920px) {
  .text {
    font-size: 100px;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
  }

  .texto-centralizado {
    margin-bottom: 15%;
    background-color: #f2f2f2;
    font-size: 25px;
  }

  .two-column-text {
    column-count: 2;
    column-gap: 10%; /*Espacio entre columnas*/
    margin-right: 15%;
    margin-left: 15%;
    text-align: justify;
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .overflow {
    width: 30% !important;
    left: 65%;
    top: 15%;
  }

  .servicios-text {
    margin-left: 8%;
  }

  .content {
    width: 100%;
  }

  .gestAmbientalContenedor-header {
    margin-right: 10%;
    margin-left: 10%;
    align-items: center;
  }

  .gestAmbientalContenedor-header h1 {
    font-size: 70px;
    margin-top: 0;
    padding-top: 0;
  }

  .gestAmbientalContenedor-content-header {
    justify-content: center;
  }

  .logo-img {
    max-width: 15%;
    margin-right: 50%;
    padding-bottom: 15px;
  }

  .card {
    padding-bottom: 20px;
    border: 2px solid #75b5f9;
    margin-right: 4%;
    border-radius: 10px;
    margin-left: 2%;
  }

  .card h2 {
    margin-top: 0;
    font-size: 30px;
  }

  .section-nuestros-numeros-header {
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  /*Donde estamos*/

  .section-donde-estamos .section-donde-estamos-header h1 {
    font-size: 40px;
  }
  
  .header-pagina-interna-derecha img{
    width: 30%;
    margin-left: 10%;
  }

  .imagen-centro-pagina-interna-agricultura{
    padding-right: 10%;
  }

  .texto-pagina-interna-segundo-agricultura img{
    margin-right: 10%;
  }

  .overflow-interna{
    transform: translate(5%, -60%);
  }

}
