@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;800&display=swap');
/*Estilos Generales*/
body{
    font-family: "Plus Jakarta Sans";
    margin:0;
    padding: 0;
}

/*Estilos para el encabezado*/
header{
    background-color: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}


.logo{
    margin-top: 30px;
}

.logo img{
    width: 300px;
}


.header-links {
    display: flex;
    gap:20px;
    margin-right: 100px;
    font-size: 21px;
}

.header-links ul{
    list-style: none;

}

.header-links li{
    display: inline;
}

.header-links a{
    text-decoration: none;
    color:#333;
    padding-right: 20px;
  
}

.menu {
    background-color: #fff;
    color:#333;
    text-align: right;
    font-size: 21px;
}

.menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu a{
    text-decoration: none;
    color:#333;
    margin-right: 10px;
}


.green-line{
    height: 5px;
    background-color: #90ce67;
    width: 100%;
    margin-top: 5px;
}

/*Estilos para Responsive*/

@media(max-width: 768px){
    header{
        flex-direction: column;
        align-items: flex-start;
    }

    .logo img{
        width: 80px;
        margin-bottom: 10px;
    }


}


/*Carrousel de imagenes*/

.carrousel{
    
    position: relative;
    width: 100%;
    overflow: hidden;

}


.slide{
    display: none;
    text-align: center;
    position: relative;
    
}

.slide img{
    width: 100%;
    height: auto;
    
}

.text {
    position: absolute;
    font-size: 93px;
    top: 200px;
    left:30%;
    transform: translateX(-50%);
    color:#fff;
    padding: 5px 10px;
    text-shadow: 2px 2px 4px #888;
}

.text strong{
    color:#90ce67;
    display: block;
    font-family: "Plus Jakarta Sans";
    font-weight:900;
}

.indicators{
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
    margin-right: 60px;
}

.indicator{
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    margin-right: 50px;
    margin-bottom: 40px;
}

.active{
    background-color: #90ce67;
}


/*Segunda imagen*/

.background-image{
    background-image: url('../img/foto_02.jpg');
    background-size: cover;
    background-position: center;
    height: 70vh;
    position: relative;

}

.overlay{
    color:#fff;
    font-family: "Plus Jakarta Sans";
    position: absolute;
    top: 100px;
    left:30px;
    font-size: 73px;
}

.overlay span{
    display: block;
    font-weight: regular;
}


/*Logo de circulo más texto*/

.image-text-container{
    display: flex;
    align-items: center;
    height: 100px;
    margin-top: 40px;
}

.small-image{
    width: 150px;
    height: auto;
    margin-left:150px;
    margin-right: 150px;
    align-items: center;
}

.text-image-text-container{
    color:#90ce67;
    align-items: center;
    
}

.text-image-text-container strong{
    color:#90ce67;
    font-weight: bold;
    font-size: 72px;
}

.text-image-text-container span{
    color:#90ce67;
    font-size: 50px;
}

.texto-centralizado{
    margin-top: 80px;
    background-color: #f2f2f2;
}

.texto-centralizado h1{
    text-align: center;
    font-size: 40px;
    padding-top: 80px;
 
}

.two-column-text{
    column-count: 2;
    column-gap: 30px;/*Espacio entre columnas*/
    margin-right: 30px;
    margin-left: 30px;
}


/*Segundo carrousel*/

.half{
    flex: 1;
    display: flex;
    align-items: center;

}

.white-background{
    background-color: white;
    height: 250px;
}

.green-background{
    background-color: #90ce67;
}

.green-background p,.brown-background p, .violet-background p,.blulight-background p{
    font-family: "Plus Jakarta Sans";
    color:white;
    padding-top: 30px;
    margin-left: 30px;
    font-size: 35px;
    text-align: start;
    width: 70%;


}

.brown-background{
    background-color: #e2a869;
}

.violet-background{
    background-color: #7d41ae;
}

.blulight-background{
    background-color: #19d8bb;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }
  
  .carousel-slide {
    width: 100%;
    display: none;
    position: relative;
  }
  
  .carousel-slide img {
    width: 40%;
    height: auto;
    padding-top: 35px;
    padding-left: 50px;
  }

  .half-width{
    width: 40%;
    float: left;
    box-sizing: border-box;
  }

  .overflow{
    position: absolute;
    top: 20%;
    left:55%;
    transform: translate(-10%,-30%);
    padding-bottom: 50px;
  }
  
  .carousel-controls {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  

  button.prev,
  button.next {
    background: transparent;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color:#90ce67;
    margin-left: 10px;
  }


  /*Boton Ver Mas*/

  .content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

.ver-mas-btn{
    background-color: #fff;
    height: 40px;
    color:#333;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 20px;
    margin-left: 20px;
    line-height: 40px;
 
}

.ver-mas-btn:hover{
    background-color: #ccc;
}


/*Sección Gestión Ambiental*/
.gestAmbientalContenedor{
    background: linear-gradient(to bottom, #1ad8bc 70%, #fff 50%);
    color:#fff;
    text-align: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


.gestAmbientalContenedor h1{
    font-size: 60px;
    font-weight:lighter;

}

.gestAmbientalContenedor p{
    font-size: 35px;
    padding-left: 15px;
    padding-right: 15px;
}

.card{
    width: calc(33.33% - 20px);
    padding: 20px;
    background-color: #fff;
    color:#333;
    float:left;
    box-sizing: border-box;
    border: 1px solid #1ad8bc;
    margin:10px;
    border-radius: 10px;
    transition: transform 0.2s;
}


.card h2{
    font-size: 24px;
    color: #1ad8bc;

}

.card p{
    font-size: 18px;
 
}

.separator {
    width: 100%;
    height: 15px;
    background: linear-gradient(to left, #ccc 0%, #fff 50%, #ccc 100%);
}


/*Sección nuestros números*/
.section-nuestros-numeros{
    width: 95%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-nuestros-numeros .section-nuestros-numeros-header{
    width: 100%;
    border:2px solid #ffc216;
    background: #f2f2f2;
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom:40px;
    border-radius: 10px;  
}

.section-nuestros-numeros .section-nuestros-numeros-header .section-nuestros-numeros-logo{
    width: 90px;
    height: 95px;
    margin-right: 100px;
    margin-left: 100px;
}

.section-nuestros-numeros .section-nuestros-numeros-header h2{
    text-align: center;
    color:#90ce67;
    font-weight: lighter;
    font-size: 50px;
}

.content-column{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Divide en 4 columnas con igual ancho */
    gap: 20px; /* Espacio entre columnas */
    padding: 20px;

}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
}

.cell{
    text-align: center;
   
}

.number {
    font-size: 48px;
    color: #ffc216;
    font-weight: bolder;
  }
  
  .line {
    width: 80%;
    border: 1px solid #ccc;

  }
  
  .cell p {
    font-size: 20px;
    color: #000;

  }

  /*Sección Sinergias*/

  .section-sinergias{
    background: #f2f2f2;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

  }

  .section-sinergias h2{
    font-size: 60px;
    color:#4d4d4d;
  }

  .section-sinergias .section-sinergias-logos{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .section-sinergias-logos .section-sinergias-logos-logo{
    width: 18%;
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la relación de aspecto original */
    object-fit: contain; /* Esto ajustará la imagen para que quepa en el contenedor sin estirarla ni deformarla */
    margin: 10px;
    transition: transform 0.3s;
  }


  .section-sinergias-logos-logo:hover{
    transform: scale(1.2);
  }

  /*Seccion Donde estamos*/
  .section-donde-estamos{
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    text-align: center;
 

  }

  .section-donde-estamos .section-donde-estamos-header h1{
    color:#90ce67;
    font-weight: lighter;
    font-size: 60px;

  }

  .section-redes-sociales{
    display: flex;
    width: 100%;
    height: 300px;
  }

  .section-redes-sociales-left-half{
    width: 50%;
    background: linear-gradient(to bottom, #e2a869, #fcdc94);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px ;
    margin-left: 15px;
  }

  .section-redes-sociales-left-half p{
    margin-top: 50px;
    font-size: 50px;
    color:white;
  }

  .section-redes-sociales-left-half-buttons{
    margin-top: 20px;
  }

  .section-redes-sociales-left-half-buttons button{
    margin: 10px;
    padding: 10px 20px;
    font-family: "Plus Jakarta Sans";
    border-radius: 10px;
    border: none;
    color:#39b54a;
    font-weight: bolder;
    width: 250px;
    font-size: 15px;
  }

  .section-redes-sociales-right-half{
    width: 50%;
    background: url('../img/fondo_redes_sociales.png'); /* Reemplaza con la URL de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 0 10px 10px 0;
    margin-right: 15px;
  }

  .instagram-icon {
    position: absolute;
    top: 100px;
    right: 280px;
    color: white;
    transform: scale(5);
}


/*SECCION DATOS DE CONTACTO*/
.section-contacto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.section-contacto-column{
    flex: 1;
    padding: 20px;
 
}

.section-contacto-contact-button{
    border: none;
    color:white;
    background-color: #4d4d4d;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    font-family: "Plus Jakarta Sans";
}

.section-contacto-info{
    margin-left: 20px;
    font-weight: bolder;
    color:#4d4d4d;
    font-size: 15px;
}

.section-contacto-contact-social-icons{

    display: flex;
    justify-content: center;
    align-items: center;
}

.section-contacto-contact-social-icons-social-icon{
    background: #4d4d4d;
    width: 30px; /* Ajusta el ancho del círculo según tus necesidades */
    height: 30px; /* Ajusta la altura del círculo según tus necesidades */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px; /* Espacio entre los círculos */

}



.section-contacto-contact-social-icons i {
    font-size: 20px; /* Tamaño del ícono */
    color: white;
}