@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&family=Plus+Jakarta+Sans:wght@300;800&display=swap');
/*Estilos Generales*/
body{
    font-family: "Plus Jakarta Sans";
    margin:0;
    padding: 0;
    background-color: white;
    width: 100%;
}

/*Estilos para el encabezado*/
header{
    background-color: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top:0;
    z-index: 1000;
}


.logo{
    margin-top: 30px;
}

.logo img{
    width: 250px;
}

header{
    padding-bottom: 0;
    margin-bottom: 0;
}


.header-links {
    display: flex;
    gap:20px;
   font-size: 15px;
}

.header-links ul{
    list-style: none;

}

.header-links li{
    display: inline;
}

.header-links a{
    text-decoration: none;
    color:#333;
    padding-right: 20px;
  
}



.menu {
    background-color: #fff;
    color:#333;
    text-align: right;
    font-size: 17px;
    margin-right: 2%;
}

.menu hr{

    border: 1px solid #fff; /* Cambia #fff al color blanco que desees */
}

.menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu a{
    text-decoration: none;
    color:#333;
    margin-right: 10px;
}


/*Dropdown de lineas de trabajo*/

.dropdown-lineas-trabajo{
    display: inline-block;
    position: relative;
}

.dropdown-content-lineas-trabajo{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top:100%;
    left:0;

}

.dropdown-content-lineas-trabajo a{
    color:black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.dropdown-content-lineas-trabajo a:hover{
    background-color: #f1f1f1;
}


.dropdown-lineas-trabajo:hover .dropdown-content-lineas-trabajo {
    display: block;
}

.dropbtn-lineas-trabajo{
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    cursor: pointer;
    position: relative;
}

.dropbtn-lineas-trabajo a:hover{
    background-color: #ddd;
}

.dropbtn-lineas-trabajo span {
    font-size: 12px;
    margin-left: 5px;
}

/*##########*/


.green-line{
    height: 5px;
    background-color: #90ce67;
    width: 100%;
    margin-top: 5px;
}


.prensa-contacto{
    font-size: 12px;
    margin:0px;
    padding: 0px;
    display: inline-block;
    font-family: 'Fira Sans',Helvetica,Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.menu .prensa-contacto{
    display: inline;
    margin-right: 2px;
    margin-top: 0;
}

/*Estilos para Responsive*/

@media(max-width: 768px){
    header{
        flex-direction: column;
        align-items: flex-start;
    }

    .logo img{
        width: 80px;
        margin-bottom: 10px;
    }


}

main{
    padding-top: 70px;
}


/*Carrousel de imagenes*/

.carrousel{
    
    position: relative;
    width: 100%;
    overflow: hidden;

}


.slide{
    display: none;
    text-align: center;
    position: relative;
    
}

.slide img{
    width: 100%;
    height: 75vh;
    
}

.text {
    position: absolute;
    font-size: 93px;
    top: 200px;
    left:30%;
    transform: translateX(-50%);
    color:#fff;
    padding: 5px 10px;
    text-shadow: 2px 2px 4px #888;
}

.text strong{
    color:#90ce67;
    display: block;
    font-family: "Plus Jakarta Sans";
    font-weight:900;
}

.indicators{
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
    margin-right: 60px;
}

.indicator{
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    margin-right: 50px;
    margin-bottom: 40px;
}

.active{
    background-color: #90ce67;
}


/*Segunda imagen*/

.background-image{
    width: 100%;
    background-image: url('../img/foto_02.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh;
    position: relative;
   
}

.overlay{
    color:#fff;
    font-family: "Plus Jakarta Sans";
    position: absolute;
    top: 100px;
    left:30px;
    font-size: 45px;
    margin-left: 30px;


}

.overlay span{
    display: block;
    font-weight: regular;
}


/*Logo de circulo más texto*/

.image-text-container{
    display: flex;
    align-items: center;
    height: 100px;
    margin-top: 40px;
}

.small-image{
    width: 150px;
    height: auto;
    margin-left:150px;
    margin-right: 150px;
    align-items: center;
}

.text-image-text-container{
    color:#90ce67;
    align-items: center;
    
}

.text-image-text-container strong{
    color:#90ce67;
    font-weight: bold;
    font-size: 72px;
}

.text-image-text-container span{
    color:#90ce67;
    font-size: 50px;
}

.texto-centralizado{
    margin-top: 80px;
    background-color: #f2f2f2;
}

.texto-centralizado h1{
    text-align: center;
    font-size: 40px;
    padding-top: 80px;
 
}

.two-column-text{
    column-count: 2;
    column-gap: 30px;/*Espacio entre columnas*/
    margin-right: 30px;
    margin-left: 30px;
    text-align: justify;
}


.two-column-text p{
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}

/*Segundo carrousel*/

.half{
    flex: 1;
    display: flex;
    align-items: center;

}

.servicios-text {
    position: absolute;
    top: 10px; /* Ajusta según sea necesario */
    left: 10px; /* Ajusta según sea necesario */
    color: black;
    font-size: 18px; /* Tamaño del texto */
    font-weight: bold; /* Puedes ajustar según sea necesario */
    margin-left: 11%;
}

.white-background{
    background-color: white;
    height: 250px;
    margin-left: 70px;
    margin-right: 15px;
}

.green-background{
    background-color: #90ce67;
    background: linear-gradient(to right, #51ce5b, #90ce67, #51ce5b);
}


.green-background p,.brown-background p, .violet-background p,.blulight-background p{
    font-family: "Plus Jakarta Sans";
    color:white;
    padding-top: 30px;
    font-size: 25px;
    margin-left: 13%;
    margin-right: 15%;
}

.brown-background{
    background-color: #e2a869;
    background: linear-gradient(to right, #e2a869, #fcdc94, #e2a869);
}

.violet-background{
    background-color: #7d41ae;
    background: linear-gradient(to right, #47007a, #abacec, #47007a);
}

.blulight-background{
    background-color: #19d8bb;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .carousel-slide {
    width: 100%;
    display: none;
    position: relative;
  }
  
  .carousel-slide img {
    width: 40%;
    height: auto;
    padding-top: 35px;
    padding-left: 50px;
  }

  .half-width{
    width: 40%;
    float: left;
    box-sizing: border-box;
  }

  .overflow{
    position: absolute;
    top: 20%;
    left:55%;
    transform: translate(-10%,-20%);
    padding-bottom: 50px;
  }
  
  .carousel-controls {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  

  button.prev,
  button.next {
    background: transparent;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color:#90ce67;
    margin-left: 10px;
  }


  /*Boton Ver Mas*/

  .content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

.ver-mas-btn{
    background-color: #fff;
    height: 40px;
    color:#333;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 20px;
    margin-left: 13%;
    line-height: 40px;
 
 
}

.ver-mas-btn:hover{
    background-color: #ccc;
}



/*Sección Gestión Ambiental*/
.gestAmbientalContenedor{
    background: linear-gradient(to bottom, #75b5f9 70%, #fff 50%);
    color:#fff;
    text-align: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


.gestAmbientalContenedor-header{
    width: 100%;

}

.gestAmbientalContenedor h1{
    font-size: 40px;
    font-weight:lighter;

}

.gestAmbientalContenedor p{
    font-size: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

.card{
    width: calc(30% - 80px);
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    color:#333;
    float:left;
    box-sizing: border-box;
    border: 1px solid #75b5f9;
    margin-right: 20px;
    transition: transform 0.2s;
    border-radius: 4px;
}


.card h2{
    font-size: 24px;
    color: #75b5f9;
    padding: 0;
    font-weight: lighter;
}


.separator {
    width: 100%;
    height: 15px;
    background: linear-gradient(to left, #ccc 0%, #fff 50%, #ccc 100%);
}


/*Sección nuestros números*/
.section-nuestros-numeros{
    width: 95%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-nuestros-numeros .section-nuestros-numeros-header{
    width:90%;
    border:2px solid #ffc216;
    background: #f2f2f2;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom:40px;
    border-radius: 10px;  
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 100px;

}

.section-nuestros-numeros .section-nuestros-numeros-header .section-nuestros-numeros-logo{
    width: 80px;
    height: 85px;
    margin-right: 150px;
    margin-left: 100px;
}

.section-nuestros-numeros .section-nuestros-numeros-header h2{
    text-align: center;
    color:#90ce67;
    font-weight: lighter;
    font-size: 40px;
}

.content-column{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Divide en 4 columnas con igual ancho */
    gap: 20px; /* Espacio entre columnas */
    padding: 20px;
    width: 90%;
    margin-right: 2.5%;
    margin-left: 2.5%;

}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cell{
    text-align: center;
   
}

.number {
    font-size: 48px;
    color: #ffc216;
    font-weight: bolder;
  }
  
  .line {
    width: 80%;
    border: 1px solid #ccc;

  }
  
  .cell p {
    font-size: 20px;
    color: #000;

  }

  /*Sección Sinergias*/

  .section-sinergias{
    background: #f2f2f2;
    border: 1px solid #ccc;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

  }

  .section-sinergias h2{
    font-size: 60px;
    color:#4d4d4d;
  }

  .section-sinergias .section-sinergias-logos{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .section-sinergias-logos .section-sinergias-logos-logo{
    width: 13%;
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la relación de aspecto original */
    object-fit: contain; /* Esto ajustará la imagen para que quepa en el contenedor sin estirarla ni deformarla */
    margin: 10px;
    transition: transform 0.3s;
  }


  .section-sinergias-logos-logo:hover{
    transform: scale(1.2);
  }

  /*Seccion Donde estamos*/
  .section-donde-estamos{
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    text-align: center;
 

  }

  .section-donde-estamos .section-donde-estamos-header h1{
    color:#90ce67;
    font-weight: lighter;
    font-size: 30px;

  }

  .section-redes-sociales{
    display: flex;
    width: 100%;
    height: 300px;
  }

  .section-redes-sociales-left-half{
    width: 30%;
    background: linear-gradient(to bottom, #e2a869, #fcdc94);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px ;
    margin-left: 18%;
  }

  .section-redes-sociales-left-half p{
    margin-top: 50px;
    font-size: 30px;
    color:white;
  }

  .section-redes-sociales-left-half-buttons{
    margin-top: 20px;
  }

  .section-redes-sociales-left-half-buttons button{
    margin: 10px;
    padding: 10px 20px;
    font-family: "Plus Jakarta Sans";
    border-radius: 10px;
    border: none;
    color:#39b54a;
    font-weight: bolder;
    width: 250px;
    font-size: 15px;
    margin-bottom: 50px;
  }

  .section-redes-sociales-right-half{
    width: 34%;
    background: url('../img/fondo_redes_sociales.png'); /* Reemplaza con la URL de tu imagen de fondo */
    background-size: cover;
    position: relative;
    border-radius: 0 10px 10px 0;
    margin-right: 15px;
  }

  .instagram-icon {
  /* position: absolute;
    top: 100px;
    right: 280px;*/
    color: white!important;
    transform: scale(5);
}


/*SECCION DATOS DE CONTACTO*/
.section-contacto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    width: 75%;
    margin-left: 17%;
    margin-right: 18%;
}

.section-contacto-column{
    flex: 1;
    padding: 20px;
 
}

.section-contacto-contact-button{
    border: none;
    color:white;
    background-color: #4d4d4d;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    font-family: "Plus Jakarta Sans";
    font-weight: bold
    
}

.section-contacto-info{
    margin-left: 20px;
    color:white;
    font-size: 15px;
    
}

.section-contacto-contact-social-icons{

    display: flex;
    justify-content: center;
    align-items: center;
}

.section-contacto-contact-social-icons-social-icon{
    background: #4d4d4d;
    width: 30px; /* Ajusta el ancho del círculo según tus necesidades */
    height: 30px; /* Ajusta la altura del círculo según tus necesidades */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px; /* Espacio entre los círculos */

}



.section-contacto-contact-social-icons i {
    font-size: 20px; /* Tamaño del ícono */
    color: white;
}

/*Footer*/
footer{
    background-color: #4d4d4d;
    color:#fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-columna{
    flex: 1;
    margin-right: 20px;
}


.footer-columna h2{
    margin-left: 40px;
}


.footer-columna img {
    height: auto;
    margin-left: 140px;

}


.footer-columna ul{
    list-style: none;
   
}

.footer-columna a{
    text-decoration: none;
    color:white;
}



/*PAGINAS INTERNAS*/

.header-pagina-interna{
    display: flex;
    flex-direction: column;
}

.header-pagina-interna-izquierda .header-pagina-interna-derecha{
    width: 50%;
}

.header-pagina-interna-izquierda{
        flex: 1;
        display: flex;
        align-items: center;
        margin-left: 7%;
}

.header-pagina-interna-derecha {
    position: relative;
    left: -10px; /* Ajusta según sea necesario para la superposición */
}

.header-pagina-interna-izquierda img,
.header-pagina-interna-derecha img {
    width: 40%;
    height: auto;
}

.header-pagina-interna-texto-header {
    background-color: #e2a869; /* Color de fondo del texto */
    color: #fff; /* Color del texto */
    padding: 20px;
    box-sizing: border-box;
    font-size: 30px;
    margin-top: 70px;
    padding-top: 45px;
    padding-right: 55px;
    padding-left: 55px;
    text-align:center;
}

.header-pagina-interna {
    margin-top: 8%; /* Ajusta según la altura de tu barra de navegación */
    padding-top: 20px; /* Puedes ajustar según sea necesario para separar el contenido del encabezado */
    width: 100%;
}



.overflow-interna{
    position: absolute;
    top: 20%;
    left:55%;
    transform: translate(10%,-50%);
    padding-bottom: 50px;

}



.centro-pagina-interna{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.texto-centro-pagina-interna{
    flex: 1;
    margin-left: 50px;
    padding-right: 50px;
    text-align: justify;
}



.imagen-centro-pagina-interna img{
    width: 300px;
    height: auto;
}

.texto-centro-pagina-interna h2{
    color:#f98f00;
}


.texto-centro-pagina-interna ul {
    list-style-type: none;
    padding: 0;
}

.texto-centro-pagina-interna strong{
    color:#f98f00;
    font-weight: lighter;
    display: block;
    margin-top: 15px;
    margin-left: 10px;

}

.texto-centro-pagina-interna ul li {
    margin-bottom: 10px;
    padding-left: 15px; 
    position: relative;
    margin-top: 15px;
}

.texto-centro-pagina-interna li::before {
    content: '\2713';
    display: block;
    width: 45px; 
    height: 30px;
    color:#4ACF50;
    position: absolute;
    left: 0;
    top: 60%;
    transform: translateY(-50%);
}

.pagina-interna hr{
    border: 0; /* Elimina el borde predeterminado de la línea */
    height: 8px; /* Altura de la línea */
    background: linear-gradient(to right, #e2a869, #fcdc94); /* Gradiente de color de rojo a verde */
    margin: 20px 0; /* Espaciado opcional alrededor de la línea */

}
.texto-pagina-interna-segundo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 50px;
    padding-right: 50px;
    text-align: justify;
    margin-bottom: 40px;
}

.texto-pagina-interna-segundo h2 {
    color: #f98f00;
}

.texto-pagina-interna-segundo p {
    flex: 1;
    margin-right: 20px;
}

.texto-pagina-interna-segundo ul {
    flex: 1 0 100%; /* Para que la lista ocupe todo el ancho en dispositivos pequeños */
    margin-top: 0; /* Elimina el margen superior de la lista */
}

.texto-pagina-interna-segundo li {
    margin-bottom: 10px;
    padding-left: 15px;
    position: relative;
    margin-top: 15px;
    list-style: none;
}

.texto-pagina-interna-segundo li::before {
    content: '\2713';
    display: block;
    width: 45px;
    height: 30px;
    color: #4ACF50;
    position: absolute;
    left: 0;
    top: 60%;
    transform: translateY(-50%);
}

.texto-pagina-interna-segundo img {
    max-width: 100%;
    width: 300px;
    height: auto;
    margin-top: 20px; /* Espacio entre la imagen y el contenido */
    border-radius: 10px; /* Radio de las esquinas de la imagen */
    box-shadow: 12px 12px 8px rgba(226, 168, 106, 0.3);
}

.texto-final-pagina-interna h2{
    color:#e2a869;
    font-weight: lighter;
    text-align: center;
    margin-right: 2.5%;
    margin-left: 2.5%;
}

.footer-pagina-interna{
    background-color: white;
    margin-left: 5%;
    margin-top: 8%;
}

.footer-pagina-interna img{
    width: 250px;
}

.header-pagina-interna-texto-header-agricultura{
    background-color: #90ce67;
    color: #fff; /* Color del texto */
    padding: 20px;
    box-sizing: border-box;
    font-size: 30px;
    margin-top: 70px;
    padding-top: 45px;
    padding-right: 55px;
    padding-left: 55px;
    text-align:center;
}

.texto-centro-pagina-interna-agricultura{
    flex: 1;
    margin-left: 50px;
    padding-right: 50px;
    text-align: justify;
}

.texto-centro-pagina-interna-agricultura h2{
    color:#90ce67;
}

.texto-centro-pagina-interna-agricultura ul {
    list-style-type: none;
    padding: 0;
}

.texto-centro-pagina-interna-agricultura strong{
    color:#51ce5b;
    font-weight: lighter;
    display: block;
    margin-top: 15px;
    margin-left: 10px;

}

.texto-centro-pagina-interna-agricultura ul li {
    margin-bottom: 10px;
    padding-left: 15px; 
    position: relative;
    margin-top: 15px;
}

.texto-centro-pagina-interna li::before {
    content: '\2713';
    display: block;
    width: 45px; 
    height: 30px;
    color:#4ACF50;
    position: absolute;
    left: 0;
    top: 60%;
    transform: translateY(-50%);
}

.pagina-interna-agricultura hr{
    border: 0; /* Elimina el borde predeterminado de la línea */
    height: 8px; /* Altura de la línea */
    background: linear-gradient(to right, #51ce5b, #90ce67); /* Gradiente de color de rojo a verde */
    margin: 20px 0; /* Espaciado opcional alrededor de la línea */

}


.h2_agricultura{
    color:#90ce67!important;
    margin-right: 55px;

}

.texto-pagina-interna-segundo-agricultura{

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 50px;
    padding-right: 50px;
    text-align: justify;
    margin-bottom: 40px;
}

.texto-pagina-interna-segundo-agricultura {
    margin-top: 15px;
}

.texto-pagina-interna-segundo-agricultura img {
    max-width: 100%;
    width: 300px;
    height: auto;
    margin-top: 20px; /* Espacio entre la imagen y el contenido */
    border-radius: 10px; /* Radio de las esquinas de la imagen */
    box-shadow: 12px 12px 8px rgba(226, 168, 106, 0.3);
}


.texto-pagina-interna-segundo-texto{
    flex: 1; /* El texto ocupará todo el espacio disponible */
    margin-right: 20px; /* Espacio entre el texto y la imagen */
}

.header-pagina-interna-texto-header-hoteleria{
    background-color: #7d41ae;
    color: #fff; /* Color del texto */
    padding: 20px;
    box-sizing: border-box;
    font-size: 30px;
    margin-top: 70px;
    padding-top: 45px;
    padding-right: 55px;
    padding-left: 55px;
    text-align:center;

}

.texto-centro-pagina-interna-hoteleria{
    flex: 1;
    margin-left: 50px;
    padding-right: 50px;
    text-align: justify;
}

.texto-centro-pagina-interna-hoteleria h2{
    color:#47007a;
}


.texto-centro-pagina-interna-hoteleria ul {
    list-style-type: none;
    padding: 0;
}


.texto-centro-pagina-interna-hoteleria ul li {
    margin-bottom: 10px;
    padding-left: 15px; 
    position: relative;
    margin-top: 15px;
}

.texto-centro-pagina-interna-hoteleria li::before {
    content: '\2713';
    display: block;
    width: 45px; 
    height: 30px;
    color:#4ACF50;
    position: absolute;
    left: 0;
    top: 60%;
    transform: translateY(-50%);
}


.texto-pagina-interna-segundo-hoteleria{

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 50px;
    padding-right: 50px;
    text-align: justify;
    margin-bottom: 40px;
}

.texto-pagina-interna-segundo-hoteleria {
    margin-top: 15px;
}

.texto-pagina-interna-segundo-hoteleria img {
    max-width: 100%;
    width: 300px;
    height: auto;
    margin-top: 20px; /* Espacio entre la imagen y el contenido */
    border-radius: 10px; /* Radio de las esquinas de la imagen */
    box-shadow: 12px 12px 8px rgba(71, 0, 122, 0.3);
}


.pagina-interna-hoteleria hr{
    border: 0; /* Elimina el borde predeterminado de la línea */
    height: 8px; /* Altura de la línea */
    background: linear-gradient(to right, #47007a, #abacec); /* Gradiente de color de rojo a verde */
    margin: 20px 0; /* Espaciado opcional alrededor de la línea */

}


.h2_hoteleria{
    color:#47007a!important;
    margin-right: 55px;

}



/*Nosotros*/

.overflow-interna-nosotros{
    position: absolute;
    top: 20%;
    left:55%;
    transform: translate(-10%,-50%);
    padding-bottom: 50px;
}

.header-pagina-interna h2{
    text-align: center;
    color:#482223;
    margin-bottom: 50px;
}

.header-pagina-interna-texto-header-nosotros{
    background-color: #482223;
    color: #fff; /* Color del texto */
    padding: 20px;
    box-sizing: border-box;
    font-size: 22px;
    margin-top: 70px;
    padding-top: 45px;
    padding-right: 55px;
    padding-left: 55px;
    text-align:center;

}

.texto-centro-pagina-interna-nosotros{
    flex: 1;
    margin-left: 50px;
    padding-right: 50px;
    text-align: justify;
    
}


.texto-centro-pagina-interna-nosotros h2{
    color:#482223;
}


.texto-centro-pagina-interna-nosotros ul {
    list-style-type: none;
    padding: 0;
}


.texto-centro-pagina-interna-nosotros ul li {
    margin-bottom: 10px;
    padding-left: 15px; 
    position: relative;
    margin-top: 15px;
}

.texto-centro-pagina-interna-nosotros li::before {
    content: '\2713';
    display: block;
    width: 45px; 
    height: 30px;
    color:#4ACF50;
    position: absolute;
    left: 0;
    top: 60%;
    transform: translateY(-50%);
}




.accordion-section {
    margin-bottom: 20px;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-button {
    background-color: #603913;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    text-align: left;
}

.accordion-content {
    display: none;
    padding: 10px;
}


.nosotros-desplegables{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.nosotros-desplegables .accordion-section{
    font-family: "Plus Jakarta Sans";
    color:#482223;
}

.accordion-section{
    background-color: #f7f4ec;
}

.accordion-header h2{
    margin-left: 20px;
}

.accordion-content p{
    text-align: justify;
    width: 90%;
    margin-left: 5%;
}

.accordion-content ul{
    list-style: none;
}

.accordion-content li{
    margin-bottom: 10px;
}



/*Gestion Ambiental*/

.header-pagina-interna-texto-header-gest-ambiental{
    background-color: #1ad8bc;
    color: #fff; /* Color del texto */
    padding: 20px;
    box-sizing: border-box;
    font-size: 30px;
    margin-top: 70px;
    padding-top: 45px;
    padding-right: 55px;
    padding-left: 55px;
    text-align:center;

}

.texto-centro-pagina-interna-gest-ambiental{
    flex: 1;
    margin-left: 50px;
    padding-right: 50px;
    text-align: justify;
}

.texto-centro-pagina-interna-gest-ambiental h2{
    color:#1ad8bc;

}


.h2_gest_ambiental{

    color:#1ad8bc!important;
    margin-right: 55px;
}

.pagina-interna-gest-ambiental hr{
    border: 0; /* Elimina el borde predeterminado de la línea */
    height: 8px; /* Altura de la línea */
    background: linear-gradient(to right, #1ad8bc, #1ad8ff); /* Gradiente de color de rojo a verde */
    margin: 20px 0; /* Espaciado opcional alrededor de la línea */

}

.texto-pagina-interna-segundo-gest-ambiental{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 50px;
    padding-right: 50px;
    text-align: justify;
    margin-bottom: 40px;
}


.texto-pagina-interna-segundo-gest-ambiental{
    margin-top: 15px;
}

.texto-pagina-interna-segundo-gest-ambiental img {
    max-width: 100%;
    width: 300px;
    height: auto;
    margin-top: 20px; /* Espacio entre la imagen y el contenido */
    border-radius: 10px; /* Radio de las esquinas de la imagen */
    box-shadow: 12px 12px 8px rgba(26, 216, 255, 0.3);
}



/*Cultura La Criolla*/

.header-pagina-interna-texto-header-cultura{

        background-color: #f98f00;
        color: #fff; /* Color del texto */
        padding: 5px;
        box-sizing: border-box;
        font-size: 30px;
        margin-top: 70px;
        padding-right: 55px;
        padding-left: 55px;
        text-align:center;

}


.header-pagina-interna-texto-header-cultura h2{

    color: #fff; /* Color del texto */

}


.texto-centro-pagina-interna-cultura{
    flex: 1;
    margin-left: 50px;
    padding-right: 50px;
    text-align: justify;
}

.texto-centro-pagina-interna-cultura p{
    font-size: 20px;
    color:#f98f00;
}

.cultura-desplegables{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;

}



.accordion-section-cultura {
    margin-bottom: 20px;
}

.accordion-header-cultura {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-button-cultura {
    background-color: #f98f00;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    text-align: left;
}

.accordion-content-cultura {
    display: none;
    padding: 10px;
}


.cultura-desplegables .accordion-section-cultura{
    font-family: "Plus Jakarta Sans";
    color:#f98f00;
}

.accordion-section-cultura{
    background-color: #f7f4ec;
}

.accordion-header-cultura h2{
    margin-left: 20px;
}

.accordion-content-cultura p{
    text-align: justify;
    width: 90%;
    margin-left: 5%;
}

.accordion-content-cultura ul{
    list-style: none;
}

.accordion-content-cultura li{
    margin-bottom: 10px;
}

.directorio_areas{
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}

.directorio_areas h2{
    color:#f98f00;
}

.directorio_areas ul {
    list-style-type:circle;
}

.directorio_areas strong{
    color:#f98f00;
    text-decoration: underline;
}